body {
  background-color: black;
  background-image: url("https://media.giphy.com/media/54Ya3l8S8y1ggAlzTA/giphy.gif");
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.results {
  padding-top: 30px;
}

img {
  height: 350px;
  width: 350px;
}

